*.zip
*.sql
*.tif
.Rproj.user
.DS_Store
db/
images/
code/code.Rproj
results/*
*.rds
*.rda
*.Rmd
*.md
!README.md
*.csv
*.png
*.tex
*.html
*.pdf
*.swp
custom_cleanup.sh
.Rhistory
*.cppipe
*.cpproj
*.npz
input/profiles/*
